@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

html {
  scroll-behavior: smooth;
  scroll-padding-block-start: 60spx;
}

h1,
div,
section,
main,
header,
a,
input,
label,
body,
h2,
button,
p,
img,
iframe,
i {
  padding: 0;
  margin: 0;
}

body {
  height: 100vh;
  font-family: "Montserrat", sans-serif;
}

a {
  text-decoration: none;
}

button {
  user-select: none;
  font-family: inherit;
}

.nav-header {
  width: 98vw;
  height: 65px;
  padding: 0 70px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  position: fixed;
  z-index: 2;
  left: 0;
  right: 0;
  user-select: none;
  background: #fff;
  border-radius: 0 0 5px 5px;
}

.nav-header a {
  transition: all 0.5s;
  color: #000;
}

.logo {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 20px;
  font-weight: 500;
  transition: all 0.5s;
}

.logo:hover {
  color: #f00;
}

.menu-btn {
  cursor: pointer;
  padding: 5px 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #23242a;
  border-radius: 2px;
}

.menu-btn i {
  color: #fff;
  font-size: 20px;
}

#click,
.menu-btn {
  display: none;
}

.nav-links-container {
  display: flex;
  gap: 10px;
}

.nav-links-container a {
  padding: 5px 10px;
  border-radius: 2px;
  transition: all 0.5s;
}

.nav-links-container a:hover {
  color: #fff;
  background: #1c1c1c;
}

.nav-socialmedia {
  display: none;
}

.main-section {
  min-height: 100vh;
  padding: 130px 60px 40px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  background: #656570;
  gap: 50px;
}

.personal-about-container {
  margin: auto 0;
  display: flex;
  align-items: center;
  gap: 70px;
}

.main-socialmedia {
  padding: 10px;
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  text-align: center;
  background: #fff;
  box-shadow: 0 0 5px #000;
  font-size: 25px;
}

.main-socialmedia a {
  transition: all 0.5s;
  color: #000;
}

.main-socialmedia a:hover {
  color: #f00;
}

.personal-about {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.personal-about p {
  font-size: 25px;
  font-weight: 400;
}

.personal-about h1 {
  font-size: 35px;
  font-weight: 600;
}

.personal-about a {
  width: 200px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  user-select: none;
  background: #000;
  font-size: 18px;
  color: #fff;
  transition: all 0.5s;
}

.personal-about a:hover {
  transform: translateX(-2px);
  opacity: 80%;
}

.scroll-btn {
  width: 60px;
  height: 60px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  user-select: none;
  background: #fff;
  font-size: 30px;
  color: #000;
  transition: all 0.5s;
  box-shadow: 0 0 10px #000;
}

.scroll-btn:hover {
  opacity: 50%;
}

.second-section {
  min-height: 100vh;
  padding: 50px 30px 100px;
  border-top: 5px solid #fff;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 100px;
  background: #000016;
  color: #fff;
}

.project-tile {
  text-align: center;
}

.project-tile h1 {
  text-transform: uppercase;
  font-size: 30px;
  font-weight: 400;
  letter-spacing: 1px;
}

.projects-container {
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
}

.project-card {
  width: 600px;
  margin: auto;
  transition: all 0.3s;
}

.project-card iframe {
  height: 400px;
}

.all-projects-btn {
  width: 220px;
  padding: 18px;
  display: flex;
  justify-content: center;
  gap: 10px;
  user-select: none;
  background: #fff;
  color: #000;
  text-transform: uppercase;
  font-size: 18px;
  letter-spacing: 1px;
  border-radius: 5px;
  transition: all 0.5s;
}

.all-projects-btn i {
  font-size: 25px;
}

.all-projects-btn:hover {
  gap: 15px;
  opacity: 80%;
}

.thrid-section {
  min-height: 85vh;
  padding: 40px;
  border-top: 5px solid #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 50px;
  background: #656570;
  color: #fff;
}

.contact-container {
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
}

.contact-card {
  width: 300px;
  height: 200px;
  margin: auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  box-shadow: 10px 10px 0 #000;
  background: #fff;
  color: #000;
  border-radius: 10px;
}

.contact-tile {
  text-align: center;
}

.contact-tile h1 {
  text-transform: uppercase;
  font-size: 30px;
  font-weight: 800;
  letter-spacing: 1px;
  user-select: none;
}

.contact-card i {
  font-size: 60px;
}

.contact-card p {
  font-size: 19px;
  font-weight: 300;
}

.footer {
  min-height: 100px;
  padding: 20px;
  border-top: 5px solid #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
  user-select: none;
  background: #000016;
  color: #fff;
}

.copyrights {
  font-size: 20px;
  font-weight: 800;
}

.copyrights span {
  color: cyan;
}

.footer-socialmedia {
  display: flex;
  gap: 10px;
  border-radius: 3px;
  font-size: 25px;
}

.footer-socialmedia a {
  color: #fff;
}

@media (max-width: 700px) and (min-width: 550px) {
  .nav-header {
    padding: 0 40px;
  }

  .main-section {
    padding: 130px 0 70px;
  }

  .main-socialmedia {
    position: absolute;
    right: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }

  .personal-about-container {
    justify-content: center;
  }

  .personal-about-container .personal-about {
    text-align: center;
  }

  .personal-about a {
    margin: 0 auto;
  }

  .personal-about h1 {
    font-size: 30px;
  }

  .project-card {
    width: 490px;
  }
}

@media (max-width: 549px) {
  .nav-header {
    padding: 0 25px;
  }

  #click:checked ~ .nav-header {
    width: 100vw;
    border-radius: 0;
    gap: 0;
  }

  #click:checked ~ .nav-header #navbar {
    left: 0;
  }

  .menu-btn {
    display: block;
    cursor: pointer;
    font-size: 20px;
  }

  .nav-header {
    padding: 0 50px;
    transition: all 0.3s;
  }

  #navbar {
    width: 100vw;
    height: calc(100vh - 65px);
    padding: 40px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    position: fixed;
    gap: 20px;
    top: 65px;
    left: -100vw;
    text-align: center;
    background: #000016;
    transition: left 0.5s;
  }

  .nav-links-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .nav-links-container a {
    color: #fff;
  }

  .nav-links-container a:hover {
    transform: translateX(0);
    color: #000016;
    background: #fff;
  }

  .nav-socialmedia {
    width: 200px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    border-radius: 2px;
    background: #fff;
    font-size: 20px;
  }

  .nav-socialmedia a {
    color: #000;
    transition: all 0.5;
  }
  .nav-socialmedia a:hover {
    color: #f00;
  }

  .main-section {
    padding: 130px 10px 40px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .main-socialmedia {
    display: none;
  }

  .second-section {
    padding: 50px 10px 100px;
  }

  .personal-about {
    margin: auto;
    align-items: center;
  }

  .personal-about p {
    font-size: 20px;
  }

  .personal-about h1 {
    font-size: 23px;
  }

  .personal-about a {
    font-size: 20px;
  }

  .personal-about a:hover {
    transform: translate(0);
  }

  .scroll-btn {
    width: 50px;
    height: 50px;
    font-size: 20px;
  }

  .thrid-section {
    padding: 40px 10px;
  }

  .copyrights,
  .footer-socialmedia {
    margin: auto;
  }

  .project-card {
    width: 100%;
    min-width: 330px;
  }
}
